
<style>
    body{
    text-align:center;
    background:black;
    color:white;
    font-family:courier;

    }

</style>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_ofa3xwo7.json"  background="#000000"  speed="1"  style="width: 250px; height: 250px;margin: 0 auto;"  loop  autoplay></lottie-player>
<h1>I'm Finding the perfect humans for you my human...</h1>
<lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_WeO6Iw.json"  background="#000000"  speed="1"  style="width: 500px; height: 500px;margin: 0 auto;"  loop  autoplay></lottie-player>
<h6>My load times may vary depending upon the target and available data</h6>